<header class="animate__animated animate__fadeIn">
  <!-- navbar -->
  <section class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><strong>Bryan<span class="text-accent">Campos</span></strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navitems" aria-controls="navitems" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navitems">
          <ul class="navbar-nav mb-2 mb-lg-0"> <!-- me-auto -->
            <li class="nav-item">
              <a class="nav-link" (click)="scrollTo('services')">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="scrollTo('workhistory')">Trabajos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="scrollTo('aboutme')">Sobre mi</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <!-- hero -->
  <section id="hero" class="container pt-5 pb-5">
    <div class="row no-m-p3">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <div class="content copy animate__animated animate__slideInUp">
          <h1 class="brand-font"><strong>Tu experto en diseño web</strong></h1>
          <p class="mb-0">Agenda una llamada estrategia de 15-20 minutos</p>
          <p>(sin costo ni compromiso)</p>
          <br>
          <div class="d-flex flex-wrap">
            <a (click)="navigateTo('whatsapp')" class="btn btn-primary --mr d-flex align-items-center">Hablemos de tu proyecto <i class="ri-whatsapp-line"></i></a>
            <small class="mt-2 text-muted">(Normalmente contesto en menos de 1 hora)</small>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="content animate__animated animate__slideInUp image">
          <img class="heroimg w-100" src="assets/img/ipad.webp" alt="image of an ipad showing a website design">
        </div>
      </div>
    </div>
    <div class="row no-m-p3 animate__animated animate__fadeIn tech-wrap">
      <h6 class="text-center">Utilizando las mejores herramientas y frameworks</h6>
      <div class="d-flex justify-content-center">
        <div class="content">
          <ul class="d-flex flex-wrap justify-content-center mt-3 technologies">
            <li><img src="assets/img/html.svg" alt="html 5 logo" title="html 5"></li>
            <li><img src="assets/img/css.svg" alt="css 3 logo" title="css 3"></li>
            <li><img src="assets/img/js.svg" alt="javascript logo" title="javascript ES6"></li>
            <li><img src="assets/img/typescript.svg" alt="typescript logo" title="typescript"></li>
            <li><img src="assets/img/angular.svg" alt="angular logo" title="angular"></li>
            <li><img src="assets/img/react.svg" alt="reactjs logo" title="react"></li>
            <li><img src="assets/img/git-icon.svg" alt="git logo" title="git"></li>
            <li><img src="assets/img/bootstrap-5-1.svg" alt="bootstrap 5 logo" title="bootstrap 5"></li>
            <li><img src="assets/img/figma-1.svg" alt="figma logo" title="figma"></li>
            <li><img src="assets/img/photoshop.svg" alt="adobe photoshop logo" title="adobe photoshop"></li>
            <li><img src="assets/img/illustrator.svg" alt="adobe illustrator logo" title="adobe illustrator"></li>
            <li><img src="assets/img/firebase.svg" alt="firebase logo" title="firebase"></li>
            <li><img src="assets/img/net.svg" alt="asp.net logo" title=".net MVC"></li>
            <li><img src="assets/img/wordpress.svg" alt="wordpress logo" title="wordpress"></li>
            <li><img src="assets/img/elementor.svg" alt="elementor logo" title="Elementor"></li>
            <li><img src="assets/img/shopify.svg" alt="shopify logo" title="Shopify"></li>
            <li><img src="assets/img/filmora.svg" alt="filmora logo" title="Wondershare Filmora"></li>
            <li><img src="assets/img/vscode.svg" alt="visual studio code's logo" title="Visual Studio Code"></li>
            <li><img src="assets/img/github.svg" alt="github logo" title="Github"></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</header>

<!-- services section -->
<section id="services" class="container-fluid pt-5 pb-5 accent-light-bg animate__animated animate__fadeIn">
  <div class="container column no-m-p3">
    <div class="text-center">
      <h6 class="mb-3 text-uppercase text-accent">Servicios</h6>
      <h3>Las soluciones de desarrollo incluyen <span class="text-accent"><strong>1 año de soporte</strong></span></h3>
      <p>Asi puedes enfocarte 100% en tus tareas del dia a dia sabiendo
        que tu app está operando 24/7
      </p>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 col-lg-4 " *ngFor="let i of servicios">
        <div class="d-flex service">
          <img class="p-3" [src]=" 'assets/img/services/' + i.icon + '.png' " alt="">
          <div class="text-left p-3">
            <h5 class="mb-0">{{i.servicio}}</h5>
            <p>{{i.descripcion}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- work -->
<section id="workhistory" class="container-fluid pt-5 pb-5 light-bg animate__animated animate__fadeIn">
  <div class="column container no-m-p3">
    <div class="text-center">
      <h6 class="mb-3 text-uppercase text-accent">Trabajos</h6>
      <h3>Proyectos Recientes</h3>
    </div>
    <div class="row grid mt-5">
      <div class="grid-item" *ngFor="let i of trabajos">
        <div class="card w-100" (click)="toggleModal(i)">
          <img [src]=" 'assets/img/work/' + i.imagen + '.jpg' " class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i.trabajo}}</h5>
            <p class="card-text">{{i.descripcion}}</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- about me -->
<section id="aboutme" class="container-fluid pt-5 pb-5 light-bg animate__animated animate__fadeIn">
  <div class="column container no-m-p3">
    <div class="text-center">
      <h6 class="mb-3 text-uppercase text-accent">Sobre mi</h6>
      <h3>Bryan Campos</h3>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6 offset-lg-3">
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="content">
              <div class="profile-pic rounded-circle overflow-hidden">
                <img class="w-100" src="assets/img/bryan-campos.jfif" alt="profile picture of Bryan Campos">
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <h5>Front-end Developer / UI Designer</h5>
            <p>
              Hola! Soy Bryan, un desarrollador front-end apasionado por el diseño de interfaces de usuario (UI) perfectas. 
            </p>
            <p>
              Aveces, desarrollar una idea puede ser agotador o confuso, hay mucho que hacer, quieres que tu web quede perfecta y no siempre tienes claro por donde empezar. Lo se, lo he vivido cientos de veces. Por eso estoy aqui, para ayudarte a simplificar el proceso y lograr una web que tanto tu como tus clientes disfruten.
            </p>
            <p>¡Hablemos sobre tu proyecto!</p>
            <div class="d-flex">
              <a class="btn btn-primary d-flex align-items-center"><span>Hablemos de tu proyecto</span> <i class="ri-whatsapp-line"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<footer class="dark-accent-bg">
  <div class="container pt-5 pb-5">
    <div class="row no-m-p3">
      <div class="col-lg-3 mb-4">
        <h5 class="mb-3">Bryan Campos</h5>
        <small>Front-end Developer & UI Designer</small>
      </div>
      <div class="col-lg-3 mb-4">
        <h5 class="mb-3">Enlaces</h5>
        <p><a (click)="scrollTo('services')">Soluciones</a></p>
        <p><a (click)="scrollTo('workhistory')">Trabajos</a></p>
        <p><a (click)="scrollTo('aboutme')">Sobre mi</a></p>
      </div>
      <div class="col-lg-3 mb-4">
        <h5 class="mb-3">Referencias</h5>
        <a (click)="navigateTo('linkedin')" class="btn dark-btn mb-2 d-flex align-items-center">LinkedIn <i class="ri-linkedin-box-fill"></i></a>
        <a (click)="navigateTo('github')" class="btn dark-btn d-flex align-items-center">Github <i class="ri-github-fill"></i></a>
        <!-- <a href="" class="btn dark-btn mb-2">Stack Overflow</a> -->
      </div>
      <div class="col-lg-3">
        <h5 class="mb-3">Contacto</h5>
        <a (click)="navigateTo('whatsapp')" class="btn dark-btn mb-2 d-flex align-items-center">Whatsapp <i class="ri-whatsapp-fill"></i></a>
        <a (click)="navigateTo('email')" class="btn dark-btn mb-2 d-flex align-items-center">Email <i class="ri-mail-fill"></i></a>
        <a (click)="navigateTo('instagram')" class="btn dark-btn mb-2 d-flex align-items-center">Instagram <i class="ri-instagram-fill"></i></a>
      </div>
    </div>
    <!-- firma -->
    <div class="row no-m-p3 text-center">
      <small>Diseñado y desplegado por Bryan C.</small>
    </div>
  </div>
</footer>

<!-- preview modal -->
<div class="modal fade" id="previewmodal" aria-hidden="true" aria-labelledby="previewmodal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered animate__animated animate__fadeIn">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{workOnModal.trabajo}}</h5>
        <button (click)="toggleModal('')" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          {{workOnModal.descripcion}}.
        </p>
        <img class="w-100 preview-img border" loading="lazy" [src]=" 'assets/img/work/' + workOnModal.preview " alt="Preview image of a website designed by Bryan">
      </div>
    </div>
  </div>
</div>