//Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&family=Raleway:ital,wght@0,700;1,700&display=swap');
//remixicons icon pack
@import url('../node_modules/remixicon/fonts/remixicon.css');
//variables
$main-font-family: Poppins;
$brand-font-family: Raleway;
$light-background: #f8f8fa;
$description-color: #646464;
$accent-color: #6816ED;
$accent-color-light: #F4F4FF;
//media queries
@media (min-width:576px) {
    .no-m-p3 {
        padding: 0.75rem !important;
    }
}
//general styling
html {
    font-size: 18px;
}
body {
    font-family: $main-font-family !important;
    .brand-font {
        font-family: $brand-font-family !important;
    }
}
header {
    //height: 100vh;
    background-color: $light-background;
}
h1 {
    margin-top: 0;
    font-size: 3.052rem;
}
h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5 {font-size: 1.25rem;}
small, .text_small {font-size: 0.8rem;}
p {
    color: $description-color;
}
//custom classes
.--mr {
    margin-right: 1rem;
}
.navbar .nav-item {
    margin: 0rem 1rem;
    cursor: pointer;
    &:hover {
        .nav-link {
            color: $accent-color !important;
        }
    }
}
.--mr-half {
    margin-right: 0.5rem;
}
.content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.technologies li {
    margin: 0.5rem 0.5rem;
    img {
        width: 58px;
        height: 58px;
    }
}
a i {
    font-size: 140%;
    margin-left: 0.5rem;
}
.btn {
    width: max-content;
}
#services {
    .service {
        transition: 0.5s ease-out;
        border-radius: 10px;
        &:hover {
            background-color: darken($color: $accent-color-light, $amount: 2%);
            cursor: pointer;
            transition: 0.3s ease;
        }
    }
    img {
        width: 90px;
        height: 90px;
    }
}
#workhistory {
    .grid-item {
        .card {
            transition: 0.5s ease-out;
            &:hover {
                transition: 0.2s ease;
                cursor: pointer;
                background-color: $accent-color-light;
                overflow: hidden;
                .card-title {
                    color: $accent-color !important;
                }
                .card-img-top {
                    opacity: 0.5;
                    transition: 0.3s ease;
                }
            }
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
}
.accent-light-bg {
    background-color: $accent-color-light;
}
.light-bg {
    background-color: $light-background;
}
.text-accent {
    color: $accent-color;
}
.dark-accent-bg {
    background-color: darken($color: $accent-color, $amount: 40%);
}
footer {
    h5, p {
        color:$accent-color-light;
    }
    a {
        color: $accent-color-light;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: $accent-color-light;
        }
    }
    p a:hover {
        color: $accent-color !important;
        cursor: pointer;
    }
    small {
        color: $accent-color-light;
        opacity: 0.3;
    }
}
.dark-btn {
    transition: 0.5s ease-out;
    color: #f8f8fa !important;
    text-decoration: none !important;
    &:hover {
        background-color: #331c5b !important;
        transition: 0.3s ease;
    }
}
.btn-primary {
    background-color: $accent-color !important;
    border: 1px solid $accent-color !important;
    &:hover {
        background-color: lighten($color: $accent-color, $amount: 5%) !important;
    }
}
.btn-transparent {
    &:hover {
        color: $accent-color !important;
    }
}
.profile-pic {
    max-width: 300px;
}
.skill-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    &_badge {
        background-color: #e6e6e6 !important;
        width: max-content;
        padding: 0.25rem 1rem;
        margin: 0 0.25rem 0.25rem 0;
        border-radius: 10px;
    }
}
.inspect-btn {
    border-radius: 10px;
    border: 1px solid #ededed;
    padding: 0.25rem 1rem;
    cursor: pointer;
    text-decoration: none !important;
    transition: 0.2s ease;
    margin: 0 0.25rem 0.25rem 0;
    img {
        width: 0.8rem;
        margin-right: 0.5rem;
    }
    &:hover {
        background-color: #f6f6f6;
        transition: 0.2s ease;
    }
}